<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type='text/css' href="/stylesheets/style.css">
  <title>URL Shortener Microservice</title>
</head>
<body>

  <div class="content">
    <h6>Short URL Creation</h6>
    <p>example: POST [project_url]/api/shorturl/new - https://www.google.com</p>
    <div class="posturl">
      <p>URL to be shortened</p>
        <input type="text" name="url" id = "url">
        <button type="button" name="button" class="post">post</button>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/basic.js">

</script>
</body>
</html>
